.wp-block-cover__image-background {
	transform: translateY(var(--translate-y, 0px));
	will-change: transform;
}

.wp-block-media-text__media img {
	transform: translateY(var(--translate-y, 0px));
	will-change: transform;
}
